.thumbnail-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.category-row-scroll {
    width: 100%;
    height: 300px;
    overflow-x: auto;
    overflow-y: hidden;
}
.category-row {
    height: 280px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.category-file-container {
    height: 100%;
    margin: 7px;
    width: auto;
    aspect-ratio: 1 / 1.6;
    overflow-x: hidden;
}

.category-file-container:hover {
    cursor: pointer;
}
.search-center-container {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3 {
    white-space: nowrap;
    margin: 0;
}

.separator {
    width: 80%;
    border: 2px black solid;
    margin-top: 20px;
}

.search-bar {
    max-width: 800px;
    width: 80%;
    height: 40px;
    font-size: 20pt;
}